SUPABASE_URL=https://yjkhjeiozouniprsters.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlqa2hqZWlvem91bmlwcnN0ZXJzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdC
VITE_API_BASE_URL=http://localhost:4000/api
